html {
	/*overflow-y:hidden;*/
    background-color: #0051FF;
}

body {
  margin: 5;
  padding: 0;
  background-color: #0051FF;
  color: white;
  font-family: "Verdana";
}

#main {
  display: inline-table;
}

#aside {
  width: 60vw;
  /* TO surround words with box
border-color:yellow;
  border: 10vw;
    */
}

#title {
  text-decoration: none;
  color : lightblue;
  font-size : 60px;
  margin-top: 0;
  margin-bottom: 0;
}

#title:hover {
  color: white;
}

#content {
  font-family: "Book Antiqua";
  font-size: 28px;
}

/*Try to get a shadow going around all of the bubbles. then get another yellow circle on the back and figue out a way to scale the bubbles to each other. We are going to make these two styles coordinate

Also we have to flip the side of the wheel that the text reads from and make the wheel snap to the different images better*/